/* Drop Down Css */
.navbar{
    background: rgb(130,130,130,0.2);
    backdrop-filter: blur(10px);
}
.icon{
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 8px !important;
    border: 0 !important;
    margin-left: 7px;
}
.icon:hover{
    background-color: #333 !important;
    color: white !important;
}
/* Hero slider button */



.btn:hover {
    /* background-color: #fff !important; */
    border-bottom: 2px solid white !important;
    color: darkgrey !important;
}
.swiper-pagination-bullet{
    background-color: white;
}
