 /* Card Button Hover */
.btn-dark{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product-card:hover .add-cart-btn {
    opacity: 1;
}

.card:hover .add-cart-btn {
    opacity: 1;
}
.dropdown-menu{
    left:auto !important;
    right: 0px !important;
}